@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 9.6px;
  border-radius: 8px;
  background-color: #1e0e0b;
}

::-webkit-scrollbar-thumb {
  background-color: #e9bf95;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e2d3c3;
}
